@model IEnumerable<_4_EntityFramework.Models.Direccion>

@{
    ViewBag.Title = "Agregar Direccion FK";
}

<h2>@ViewBag.Title</h2>
<hr />

<h3>Se agrgo una direccion de forma autromática con FK a persona_Id = 11</h3>



